{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": "> 1%",
          "node": 6
        },
        "useBuiltIns": true,
      }
    ]
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}
